
<app-loading *ngIf="loading"></app-loading>

<div *ngIf="error" class="aler alert-danger animated fadeIn">
    <h3>Error</h3>
    <p>
        Hola Mundo
    </p>
</div>

<app-tarjetas [items]="nuevasCanciones"></app-tarjetas>