<div class="card-columns m-5 animated fadeIn" >

  <div (click)="verArtista(item)" *ngFor="let item of items" class="card puntero">
    <img class="card-img-top" [src]="item.images | noimage" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">

          {{ item.name }}

      </h5>
      <p class="card-text">

         <span *ngFor="let artista of item.artist" class="badge badge-pill badge-primary">
             {{ item.name }}
         </span>

      </p>
    </div>
  </div>

</div>